Repository pomerium/documentation, pull requests merged in 2023-08, with the labels that each got.

#884 Docs: updates releases page
  content/docs/deploy/releases.mdx
  content/docs/releases.mdx
  sidebars.js
  static/_redirects
Labels: docs, backport 0-22-0

#904 Docs: adds continuous verification
  content/docs/capabilities/authorization.mdx
  content/docs/index.mdx
Labels: docs, backport 0-22-0

#862 Update code-server.mdx with language to introduce Pomerium
  content/docs/guides/code-server.mdx
Labels: docs, backport 0-22-0

#909 update Grafana guide
  content/docs/guides/grafana.mdx
Labels: docs, backport 0-22-0

#911 Docs: adds mtls and request audit logs videos
  content/docs/capabilities/audit-logs.mdx
  content/docs/capabilities/mtls-services.mdx
Labels: docs, backport 0-22-0

#908 Update zero-trust.md
  content/docs/concepts/zero-trust.md
Labels: docs, backport 0-22-0

#924 mtls: remove client_crl
  content/docs/reference/certificates.mdx
  static/_redirects
Labels: backport 0-22-0

#928 Docs: adds v22.3 changelog and upgrade release notes
  content/docs/deploy/core/changelog.mdx
  content/docs/deploy/core/upgrading.mdx
Labels: docs

#874 Docs: updates JWT Verification iss and aud claims descriptions
  content/docs/capabilities/jwt-verification.mdx
Labels: docs, backport 0-22-0

#925 Docs: adds downstream mtls settings to reference.json
  content/docs/reference/downstream-mtls-settings.mdx
  content/docs/reference/reference.json
Labels: docs

#937 Docs: updates cookies samesite setting for Console
  content/docs/reference/cookies.mdx
  content/docs/reference/img/cookies/cookie-samesite.gif
Labels: docs

#938 Docs: where to set policy
  content/docs/capabilities/ppl.mdx
  content/docs/capabilities/routing.mdx
Labels: docs, backport 0-22-0

#944 update logs fields pages
  content/docs/reference/access-log-fields.mdx
  content/docs/reference/authorize-log-fields.mdx
Labels: docs

#943 Docs: adds v23 Console changelog and upgrade guides
  content/docs/deploy/enterprise/changelog.mdx
  content/docs/deploy/enterprise/img/upgrading/v23/cookie-samesite.gif
  content/docs/deploy/enterprise/img/upgrading/v23/logging-configs.gif
  content/docs/deploy/enterprise/img/upgrading/v23/set-request-headers-fingerprint.png
  content/docs/deploy/enterprise/upgrading.mdx
Labels: docs

#942 Docs: v23 core release
  content/docs/deploy/core/changelog.mdx
  content/docs/deploy/core/upgrading.mdx
Labels: docs

#947 Docs: indents changed header
  content/docs/deploy/core/changelog.mdx
Labels: docs

#948 Docs: updates archived versions
  src/components/docVersions.json
Labels: docs, backport 0-23-0

#951 Docs: adds version admonition to console upgrade page
  content/docs/admonitions/_upgrade-versions.mdx
  content/docs/deploy/enterprise/upgrading.mdx
Labels: docs, backport 0-23-0

#955 Docs: removes set authz header from v24
  content/docs/reference/reference.json
  content/docs/reference/routes/headers.mdx
  static/_redirects
Labels: docs

#960 update Set Request Headers help text
  content/docs/reference/reference.json
Labels: backport 0-23-0

#959 fix authorize log 'ip' field note
  content/docs/reference/authorize-log-fields.mdx
Labels: backport 0-23-0
