Repository pomerium/documentation, pull requests merged in 2023-10, with the labels that each got.

#1006 Docs: updates typo in homepage blurb
  content/docs/index.mdx
Labels: docs, backport 0-22-0, backport 0-23-0

#1019 fix helm guide formatting
  content/docs/guides/helm.mdx
Labels: backport 0-20-0, backport 0-21-0, backport 0-22-0, backport 0-23-0

#1005 Docs: changes darkmode link color to meet WCAG AAA contrast ratio recommend…
  src/css/custom.css
Labels: backport 0-22-0, backport 0-23-0

#1026 Docs: updates tcp outputs
  content/docs/capabilities/tcp.mdx
  content/docs/capabilities/tcp/client.mdx
  content/docs/guides/securing-tcp.mdx
  content/examples/tcp/README.md
  content/examples/tcp/_wildcard.localhost.pomerium.io-key.pem
  content/examples/tcp/_wildcard.localhost.pomerium.io.pem
  content/examples/tcp/config.yaml.md
  content/examples/tcp/docker-compose.yaml.md
  content/examples/tcp/rootCA-key.pem
  content/examples/tcp/rootCA.pem
  content/examples/tcp/ssh_config
Labels: docs, backport 0-23-0

#1033 Docs: cross links ppl page
  content/docs/capabilities/authorization.mdx
Labels: docs, backport 0-23-0

#1035 ppl: clarify operators
  content/docs/capabilities/ppl.mdx
  cspell.json
Labels: docs, backport 0-23-0

#935 Docs: react homepage component
  content/docs/index.mdx
  cspell.json
  src/components/HomepageLayout/VideoCards.js
Labels: docs, backport 0-23-0

#1040 Docs: adds multiple operators example to ppl page
  content/docs/capabilities/ppl.mdx
Labels: docs, backport 0-23-0

#1043 ppl: update invalid_client_certificate description
  content/docs/capabilities/ppl.mdx
Labels: backport 0-23-0
