Repository pomerium/documentation, pull requests merged in 2023-06, with the labels that each got.

#651 update JS SDK guide regarding JWT issuer
  content/docs/guides/img/js-sdk/js-sdk-jwt-payload.png
  content/docs/guides/js-sdk.mdx
  content/examples/js-sdk/react-app.md
Labels: backport 0-22-0

#655 Docs: fixes core changelog 404
  static/_redirects
Labels: 404, backport 0-22-0

#658 Update identity verification page
  content/docs/capabilities/getting-users-identity.md
  content/docs/reference/routes/pass-identity-headers.md
  content/examples/go-sdk/go-app.md
Labels: backport 0-22-0

#670 Docs: updates programmatic whitelist ref
  content/docs/capabilities/programmatic-access.mdx
  content/docs/reference/programmatic-redirect-domain-whitelist.mdx
Labels: docs, backport 0-22-0

#669 Docs: adds JWT opaque token note to doc
  content/docs/capabilities/programmatic-access.mdx
Labels: docs, backport 0-22-0

#676 Docs: removes duplicate reference files
  content/docs/reference/authenticate-callback-path.md
  content/docs/reference/authenticate-service-url.md
  content/docs/reference/certificates.md
  content/docs/reference/cookie-domain.md
  content/docs/reference/cookie-http-only.md
  content/docs/reference/cookie-name.md
  content/docs/reference/cookie-secret-file.md
  content/docs/reference/cookie-secret.md
  content/docs/reference/cookie-secure.md
  content/docs/reference/data-broker-storage-certificate-authority.md
  content/docs/reference/data-broker-storage-certificate-file.md
  content/docs/reference/data-broker-storage-certificate-key-file.md
  content/docs/reference/data-broker-storage-connection-string.md
  content/docs/reference/data-broker-storage-tls-skip-verify.md
  content/docs/reference/data-broker-storage-type.md
  content/docs/reference/debug.md
  content/docs/reference/global-timeouts.md
  content/docs/reference/identity-provider-client-id.md
  content/docs/reference/identity-provider-client-secret-file.md
  content/docs/reference/identity-provider-client-secret.md
  content/docs/reference/identity-provider-name.md
  content/docs/reference/identity-provider-refresh-directory-settings.md
  content/docs/reference/identity-provider-request-params.md
  content/docs/reference/identity-provider-scopes.md
  content/docs/reference/identity-provider-url.md
  content/docs/reference/jwt-claim-headers.md
  content/docs/reference/routes/pass-identity-headers.md
  content/docs/reference/set-response-headers.md
  content/docs/reference/shared-secret-file.md
  content/docs/reference/shared-secret.md
  content/docs/reference/signing-key-file.md
Labels: docs

#681 Docs: removes namespaces blurb from configuration page
  content/docs/capabilities/namespacing.mdx
  content/docs/deploy/enterprise/configure.mdx
Labels: docs, backport 0-22-0

#694 Docs: fixes redirects from v22 sidebar restructure
  static/_redirects
Labels: docs, 404, backport 0-22-0

#682 Docs: cleans up external data enterprise config
  content/docs/deploy/enterprise/configure.mdx
  content/docs/integrations.mdx
  content/docs/integrations/img/external-data-gui.gif
Labels: docs, backport 0-22-0

#677 Docs: consolidate databroker
  content/docs/capabilities/high-availability.mdx
  content/docs/deploy/core/upgrading.mdx
  content/docs/internals/data-storage.md
  content/docs/reference/data-broker-internal-service-url.mdx
  content/docs/reference/data-broker-service-url.mdx
  content/docs/reference/data-broker-service.md
  content/docs/reference/data-broker-storage-certificate-authority.mdx
  content/docs/reference/data-broker-storage-certificate-file.mdx
  content/docs/reference/data-broker-storage-certificate-key-file.mdx
  content/docs/reference/data-broker-storage-connection-string.mdx
  content/docs/reference/data-broker-storage-tls-skip-verify.mdx
  content/docs/reference/data-broker-storage-type.mdx
  content/docs/reference/databroker.mdx
  content/docs/reference/reference.json
Labels: docs, backport 0-22-0

#675 Docs: consolidate certificates
  content/docs/capabilities/ppl.mdx
  content/docs/concepts/certificates.mdx
  content/docs/deploy/k8s/ingress.md
  content/docs/internals/troubleshooting.mdx
  content/docs/reference/certificate-authority.mdx
  content/docs/reference/certificates.mdx
  content/docs/reference/client-certificate-authority.mdx
  content/docs/reference/client-crl.mdx
  content/docs/reference/img/certificates/cert-authority-console.png
  content/docs/reference/img/certificates/certs-console-list.png
  content/docs/reference/img/certificates/certs-console.png
  content/docs/reference/reference.json
Labels: docs, backport 0-22-0

#700 Docs: restores branding refs to reference.json
  content/docs/reference/reference.json
Labels: docs, backport 0-22-0

#699 Docs: restores idp links in reference.json
  content/docs/reference/reference.json
Labels: docs, backport 0-22-0

#709 Docs: fix redirects
  static/_redirects
Labels: docs, backport 0-22-0

#708 Docs: add databroker storage certificate key file
  content/docs/reference/databroker.mdx
  content/docs/reference/reference.json
Labels: docs, backport 0-22-0

#704 Docs: updates k8s reference and adds examples to ingress.md
  content/docs/deploy/k8s/ingress.md
  content/docs/reference/routes/load-balancing-policy.mdx
Labels: docs, backport 0-22-0

#713 Docs: add name claim to jwt docs
  content/docs/capabilities/getting-users-identity.md
  content/docs/capabilities/img/jwt-payload.png
  content/docs/guides/grafana.mdx
  cspell.json
Labels: docs, backport 0-22-0

#756 Fix broken "Certificates" link in quickstart
  content/docs/quickstart.mdx
Labels: docs, backport 0-22-0

#718 Docs: corrects `set_authorization_header` version number and updates text
  content/docs/reference/routes/set-authorization-header.mdx
  content/docs/reference/routes/set-request-headers.mdx
Labels: docs

#760 Docs: fix elliptic curves names
  content/docs/capabilities/getting-users-identity.md
  content/docs/internals/cryptography.md
Labels: docs, backport 0-22-0

#762 Fix typo in Identity Provider Settings
  content/docs/reference/identity-provider-settings/readme.mdx
Labels: backport 0-22-0

#765 Docs: adds IdP directory min/max polling delays ref
  content/docs/reference/identity-provider-settings.mdx
  content/docs/reference/img/idp_options/external-data-last-error.png
  content/docs/reference/img/idp_options/external-data-request-duration.png
  content/docs/reference/img/idp_options/idp-polling-min-max-delay.png
Labels: docs, backport 0-22-0

#767 Docs: adds idp polling delays troubleshooting
  content/docs/internals/img/polling-delays/adjust-polling-delay-settings.gif
  content/docs/internals/img/polling-delays/last-error-and-request-duration.gif
  content/docs/internals/troubleshooting.mdx
  content/docs/reference/reference.json
  cspell.json
Labels: docs, backport 0-22-0

#758 Docs: updates v22 set response headers ref
  content/docs/reference/img/routes/headers/set-response-headers-route.png
  content/docs/reference/routes/set-response-headers.mdx
Labels: docs

#773 Document idp_request_params default values
  content/docs/reference/identity-provider-settings.mdx
  src/css/custom.css
Labels: docs, backport 0-22-0

#772 Docs: add impersonation capabilities page
  content/docs/capabilities/img/impersonation/add-service-account-to-policy.gif
  content/docs/capabilities/img/impersonation/create-service-account.gif
  content/docs/capabilities/img/impersonation/impersonation.gif
  content/docs/capabilities/impersonation.mdx
  cspell.json
  sidebars.js
Labels: docs, backport 0-22-0

#774 Docs: adds none option to log_level reference
  content/docs/reference/log-level.mdx
Labels: docs, backport 0-22-0

#777 Docs: add stable sub headers to reference settings
  content/docs/reference/autocert.mdx
  content/docs/reference/branding/branding.md
  content/docs/reference/certificates.mdx
  content/docs/reference/cookies.mdx
  content/docs/reference/databroker.mdx
  content/docs/reference/identity-provider-settings.mdx
Labels: docs, backport 0-22-0
