Repository pomerium/documentation, pull requests merged in 2023-11, with the labels that each got.

#1052 Docs: removes redis as databroker sections
  content/docs/internals/data-storage.md
  content/docs/internals/troubleshooting.mdx
Labels: docs

#1056 Docs: runs prettier to cleanup unrelated code and text
  .github/dependabot.yaml
  content/docs/deploy/k8s/reference.md
  docusaurus.config.js
  src/components/HomepageLayout/VideoCards.js
Labels: docs

#1062 Docs: adds idp_request_params envars example
  content/docs/reference/identity-provider-settings.mdx
Labels: docs

#1063 Docs: updates text and examples
  content/docs/capabilities/enterprise-api.mdx
Labels: docs, backport 0-23-0

#1069 Docs: v24 console
  content/docs/deploy/enterprise/changelog.mdx
  content/docs/deploy/enterprise/upgrading.mdx
Labels: docs, backport 0-24-0

#1068 Docs: v24 core
  content/docs/deploy/core/changelog.mdx
  content/docs/deploy/core/upgrading.mdx
Labels: docs, backport 0-24-0

#1070 Docs: adds v0.24.0 to docVersions
  src/components/docVersions.json
Labels: docs, backport 0-24-0

#1075 Docs: corrects the release date
  content/docs/deploy/core/changelog.mdx
Labels: backport 0-24-0

#1066 Docs: adds global pass id headers docs
  content/docs/reference/img/pass-identity-headers/global-pass-identity-headers.gif
  content/docs/reference/pass-identity-headers.mdx
  content/docs/reference/reference.json
Labels: docs

#1078 Docs: removes dex-freeipa guide
  content/docs/identity-providers/dex-freeipa.md
Labels: docs, backport 0-24-0

#982 add a border around the tabs container
  src/css/custom.css
Labels: backport 0-23-0, backport 0-24-0

#1082 Docs: updates global and route pass id headers settings
  content/docs/capabilities/getting-users-identity.md
  content/docs/capabilities/original-request-context.md
  content/docs/concepts/mutual-auth.md
  content/docs/deploy/k8s/ingress.md
  content/docs/deploy/k8s/reference.md
  content/docs/guides/code-server.mdx
  content/docs/guides/gitlab.mdx
  content/docs/identity-providers/oidc.mdx
  content/docs/reference/jwt-claim-headers.mdx
  content/docs/reference/pass-identity-headers.mdx
  content/docs/reference/reference.json
  content/docs/reference/routes/pass-identity-headers.mdx
  static/_redirects
Labels: docs
