Repository pomerium/documentation, pull requests merged in 2023-07, with the labels that each got.

#793 Docs: adds idp settings per route for Console
  content/docs/reference/img/idp_options/idp-id-secret-route.png
  content/docs/reference/routes/identity-provider-client-id-per-route.mdx
  content/docs/reference/routes/identity-provider-client-secret-per-route.mdx
Labels: docs

#794 Docs: removes invalid syntax from example
  content/docs/reference/identity-provider-settings.mdx
Labels: docs, backport 0-22-0

#803 Docs: updates "What Is Pomerium?" blurb on docs homepage
  content/docs/index.mdx
  cspell.json
Labels: docs, backport 0-22-0

#801 Docs: add k8s proxy protocol
  content/docs/deploy/k8s/reference.md
  content/docs/reference/use-proxy-protocol.mdx
Labels: docs

#806 update Go SDK example
  content/examples/go-sdk/go-app.md
Labels: backport 0-22-0

#808 Fix certificate example using wrong config key
  content/docs/reference/certificates.mdx
Labels: backport 0-22-0

#814 Docs: consolidates route path rewriting settings
  content/docs/deploy/k8s/ingress.md
  content/docs/reference/reference.json
  content/docs/reference/routes/path-rewriting.mdx
  content/docs/reference/routes/prefix-rewrite.mdx
  content/docs/reference/routes/regex-rewrite.mdx
  content/docs/reference/routes/set-request-headers.mdx
Labels: docs, backport 0-22-0

#813 Docs: consolidates route path matching settings
  content/docs/reference/reference.json
  content/docs/reference/routes/path-matching.mdx
  content/docs/reference/routes/path.mdx
  content/docs/reference/routes/prefix.mdx
  content/docs/reference/routes/regex.mdx
Labels: docs, backport 0-22-0

#812 Docs: consolidate tls route settings
  content/docs/capabilities/mtls-services.mdx
  content/docs/deploy/k8s/ingress.md
  content/docs/reference/reference.json
  content/docs/reference/routes/tls-client-certificate.mdx
  content/docs/reference/routes/tls-custom-certificate-authority.mdx
  content/docs/reference/routes/tls-downstream-client-certificate-authority.mdx
  content/docs/reference/routes/tls-downstream-server-name.mdx
  content/docs/reference/routes/tls-skip-verification.mdx
  content/docs/reference/routes/tls-upstream-allow-renegotiation.mdx
  content/docs/reference/routes/tls-upstream-server-name.mdx
  content/docs/reference/routes/tls.mdx
  static/_redirects
Labels: docs, backport 0-22-0

#811 Docs: consolidates metrics settings
  content/docs/capabilities/metrics.md
  content/docs/reference/metrics-basic-authentication.mdx
  content/docs/reference/metrics-certificate.mdx
  content/docs/reference/metrics-client-certificate-authority.mdx
  content/docs/reference/metrics.mdx
  content/docs/reference/reference.json
Labels: docs, backport 0-22-0

#819 Docs: backport tls and prefix rewrite settings changes
  content/docs/capabilities/mtls-services.mdx
  content/docs/deploy/k8s/ingress.md
  content/docs/reference/reference.json
  content/docs/reference/routes/path-rewriting.mdx
  content/docs/reference/routes/prefix-rewrite.mdx
  content/docs/reference/routes/regex-rewrite.mdx
  content/docs/reference/routes/tls-client-certificate.mdx
  content/docs/reference/routes/tls-custom-certificate-authority.mdx
  content/docs/reference/routes/tls-downstream-client-certificate-authority.mdx
  content/docs/reference/routes/tls-downstream-server-name.mdx
  content/docs/reference/routes/tls-skip-verification.mdx
  content/docs/reference/routes/tls-upstream-allow-renegotiation.mdx
  content/docs/reference/routes/tls-upstream-server-name.mdx
  content/docs/reference/routes/tls.mdx
  static/_redirects
Labels: docs

#823 Docs: Consolidates load balancer settings
  content/docs/capabilities/routing.mdx
  content/docs/deploy/core/upgrading.mdx
  content/docs/internals/connection.md
  content/docs/reference/reference.json
  content/docs/reference/routes/health-checks.mdx
  content/docs/reference/routes/load-balancing-policy-config.mdx
  content/docs/reference/routes/load-balancing.mdx
  content/docs/reference/routes/to.mdx
Labels: docs, backport 0-22-0

#822 Docs: consolidate timeouts settings
  content/docs/deploy/enterprise/changelog.mdx
  content/docs/deploy/k8s/ingress.md
  content/docs/guides/code-server.mdx
  content/docs/guides/grafana.mdx
  content/docs/guides/hedgedoc.md
  content/docs/internals/connection.md
  content/docs/reference/reference.json
  content/docs/reference/routes/idle-timeout.mdx
  content/docs/reference/routes/route-timeout.mdx
  content/docs/reference/routes/spdy.mdx
  content/docs/reference/routes/timeouts.mdx
  content/docs/reference/routes/websocket-connections.mdx
Labels: docs, backport 0-22-0

#830 Docs: updates 'none' to 'default' in dns lookup family
  content/docs/reference/dns-lookup-family.mdx
  content/docs/reference/img/dns/dns-lookup-family-options.gif
  content/docs/reference/img/dns/dns-lookup-family.gif
Labels: docs, backport 0-22-0

#820 Docs: consolidate headers settings
  content/docs/deploy/k8s/ingress.md
  content/docs/guides/grafana.mdx
  content/docs/reference/jwt-claim-headers.mdx
  content/docs/reference/reference.json
  content/docs/reference/routes/headers.mdx
  content/docs/reference/routes/host-rewrite.mdx
  content/docs/reference/routes/remove-request-headers.mdx
  content/docs/reference/routes/rewrite-response-headers.mdx
  content/docs/reference/routes/set-authorization-header.mdx
  content/docs/reference/routes/set-request-headers.mdx
  content/docs/reference/routes/set-response-headers.mdx
  cspell.json
Labels: docs

#833 Docs: Backports Headers reference page changes to v22
  content/docs/deploy/k8s/ingress.md
  content/docs/guides/grafana.mdx
  content/docs/reference/jwt-claim-headers.mdx
  content/docs/reference/reference.json
  content/docs/reference/routes/headers.mdx
  content/docs/reference/routes/host-rewrite.mdx
  content/docs/reference/routes/remove-request-headers.mdx
  content/docs/reference/routes/rewrite-response-headers.mdx
  content/docs/reference/routes/set-response-headers.mdx
  cspell.json
Labels: docs

#826 Docs: changes /audit-log entry to object in sidebars.js
  sidebars.js
Labels: docs, backport 0-22-0

#824 Docs: reformats Ingress page and adds intro sections
  content/docs/deploy/k8s/configure.md
  content/docs/deploy/k8s/ingress.md
Labels: docs, backport 0-22-0

#859 Docs: updates deprecated idp refresh directory settings to point to upgrade guide
  static/_redirects
Labels: docs, 404, backport 0-22-0

#836 Docs: updates backends text
  content/docs/internals/data-storage.md
Labels: docs, backport 0-22-0

#864 Docs: updates idp provider reference page
  content/docs/reference/identity-provider-settings.mdx
Labels: docs, backport 0-22-0

#868 Docs: adds consolidated headers settings
  static/_redirects
Labels: docs, 404, backport 0-22-0

#871 Docs: terminate connections, draft 2
  content/docs/admonitions/_long-lived-connections.mdx
  content/docs/capabilities/tcp.mdx
  content/docs/capabilities/tcp/client.mdx
  content/docs/capabilities/tcp/examples/git.mdx
  content/docs/capabilities/tcp/examples/ms-sql.mdx
  content/docs/capabilities/tcp/examples/mysql.mdx
  content/docs/capabilities/tcp/examples/rdp.mdx
  content/docs/capabilities/tcp/examples/redis.mdx
  content/docs/capabilities/tcp/examples/ssh.mdx
  content/docs/internals/connection.mdx
Labels: docs, backport 0-22-0

#880 Docs: updates docs homepage
  content/docs/capabilities/getting-users-identity.md
  content/docs/index.mdx
  content/docs/integrations.mdx
Labels: docs, backport 0-22-0

#882 docs: fix landing copy
  content/docs/index.mdx
Labels: backport 0-22-0
