Repository pomerium/documentation, pull requests merged in 2023-05, with the labels that each got.

#585 Docs: adds wildcard from routes config reference
  content/docs/reference/routes/from.md
  cspell.json
Labels: docs

#592 Update single-sign-out.md
  content/docs/capabilities/single-sign-out.md
Labels: docs

#594 Docs: adds v22 Core changelog to docs repo
  content/docs/releases/changelog.mdx
Labels: docs

#586 Docs: updates quickstarts with hosted authn service
  content/docs/deploying/k8s/quickstart.mdx
  content/docs/img/quickstart/verify-service.png
  content/docs/internals/img/self-signed-warning/pomerium-proceed-to-verify.png
  content/docs/internals/troubleshooting.mdx
  content/docs/quickstart.mdx
  content/docs/releases/enterprise/install/quickstart.mdx
  content/examples/config/config.docker.yaml.md
  content/examples/docker/basic.docker-compose.yml.md
  content/examples/enterprise/hosted-auth-config.yaml.md
  content/examples/enterprise/hosted-auth-docker.yaml.md
  content/examples/kubernetes/pomerium-global-settings.md
  cspell.json
Labels: docs

#490 Docs: redirects deprecated policy reference links
  content/docs/capabilities/kubernetes-access.md
  content/docs/deploying/k8s/ingress.md
  content/docs/reference/policy/allowed-domains.md
  content/docs/reference/policy/allowed-idp-claims.md
  content/docs/reference/policy/allowed-users.md
  content/docs/reference/policy/policy-explanation.md
  content/docs/reference/policy/policy-remediation.md
  content/docs/reference/policy/policy.mdx
  content/docs/releases/upgrading.mdx
  static/_redirects
Labels: docs, 404, backport 0-21-0

#595 Docs: adds v22 Enterprise Console changelog
  content/docs/releases/enterprise/changelog.mdx
Labels: docs

#597 Docs: adds Enterprise upgrade guide
  content/docs/releases/enterprise/upgrading.mdx
Labels: docs

#596 Docs: adds v22 Core upgrade guide
  content/docs/releases/upgrading.mdx
Labels: docs

#601 Docs: updates Enterprise docker tag to v22
  content/docs/releases/enterprise/install/installation.mdx
  content/examples/enterprise/hosted-auth-docker.yaml.md
Labels: docs

#602 Docs: runs prettier on ppl, k8s reference, and installation
  content/docs/capabilities/ppl.mdx
  content/docs/deploying/k8s/reference.md
  content/docs/releases/enterprise/install/installation.mdx
Labels: docs, backport 0-22-0

#608 Docs: updates core tags to latest in ha
  content/docs/capabilities/high-availability.mdx
Labels: docs, backport 0-22-0

#610 Docs: updates core and enterprise changelogs
  content/docs/releases/changelog.mdx
  content/docs/releases/enterprise/changelog.mdx
Labels: docs, backport 0-22-0

#618 update references for v0.22
  content/docs/releases/enterprise/install/kustomize.mdx
  k8s/console/deployment/image.yaml
  k8s/core/kustomization.yaml
Labels: backport 0-22-0

#619 update-k8s-reference-f568a5ab230b6a171e1cd618ec2c3fe7ccf0c46e
  content/docs/deploying/k8s/reference.md
Labels: backport 0-22-0

#620 updates core changelog headers for consistency
  content/docs/releases/changelog.mdx
Labels: docs, backport 0-22-0

#629 Docs: updates DNS Lookup Family default value
  content/docs/releases/enterprise/configure.mdx
Labels: docs, backport 0-22-0

#628 Docs: removes main tag from enterprise intallation
  content/docs/releases/enterprise/install/installation.mdx
Labels: docs, backport 0-22-0

#631 Docs: reference json update
  content/docs/reference/reference.json
  static/_redirects
Labels: docs, backport 0-22-0

#635 Docs: adds signout-redirect-url ref to global config options
  content/docs/reference/reference.json
  content/docs/reference/signout-redirect-url.md
  static/_redirects
Labels: docs, backport 0-22-0

#639 add instructions to expose envoy admin interface
  content/docs/deploying/k8s/install.md
Labels: backport 0-22-0

#641 Docs: adds apple idp guide
  content/docs/identity-providers/apple.md
  content/docs/identity-providers/img/apple/apple-download-key.png
  content/docs/identity-providers/img/apple/apple-register-app.png
  content/docs/identity-providers/img/apple/apple-register-new-key.png
  content/docs/identity-providers/img/apple/apple-sign-in-prompt.png
  content/docs/identity-providers/img/apple/apple-web-authn-config.png
  sidebars.js
Labels: docs, backport 0-22-0

#645 Update the Tracing documentation
  content/docs/reference/tracing.md
  cspell.json
Labels: backport 0-22-0

#650 k8s crd global timeouts
  content/docs/reference/global-timeouts.md
Labels: docs
